// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";



.logo-line-after,.logo-line-before {

    display: none;
}

.brand{
	background-color: #b22121;
	width: 90px;
    height: 100%;
    
}

.site-meta .brand {
    padding: 2px 1px;
    background-color: #b22121;
}

.site-title{
	color: white;
    Text-align: center;
    width: 100%;
}

.popup-trigger{
	content: ' 搜索 ';
}

.menu-item-app下载{
  background: rgb(85, 85, 85);
  border-radius: 5px;
  margin: 0px 3px;
}

.menu-item-app下载:hover{
  background: rgb(115, 115, 115);
  border-radius: 5px;
}

.menu-item-app下载 a:hover{
  background: rgb(115, 115, 115);
}

.menu-item-app下载 a{
  color: white;
}

site-meta:before{
	content: '';
	display: block;
	margin-top: 40rpx;
	margin-right: 20rpx;
	width: 40rpx;
	height: 40rpx;
	background-image: url('https://file.yupenbob.ml/img/202302081919429.jpg');
	background-size: 100% 100%;
}

.title1{
	font-weight: bold;
	font-size: 30px;
	color: #555;
	margin:0;
}

.title2{
	font-size: 15px;
	margin:0;
}

.index-hr{
background-image: none;
}

#index-video{
	weight:100%;
	margin-top: 30px;
}