// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";



.logo-line-after,.logo-line-before {

    display: none;
}

.brand{
	background-color: #b22121;
	width: 90px;
    height: 100%;
    
}

.site-meta .brand {
    padding: 2px 1px;
    background-color: #b22121;
}

.site-title{
	color: white;
    Text-align: center;
    width: 100%;
}

.popup-trigger{
	content: ' 搜索 ';
}